  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    body {
      @apply font-body text-paragraph leading-6 bg-gray-200;
    }

    h1, h2, h3, h4, h5, h6 {
      @apply text-white font-primary; /* Ensure this is correctly defined in tailwind.config.js */
    }
   
  
  }

  @layer components {
    .section {
      @apply py-12 lg:py-32;
    }

    .bg-primary{
      background-color: #000;
    }

    .section-title {
      @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
    }

    .subtitle {
      @apply text-base text-gray-400 mb-16 lg:mb-24 max-w-[520px];
    }

    .btn {
      @apply py-4 px-7 font-medium text-white flex items-center justify-center rounded-sm hover:bg-accent-hover transition-all;
    }

    .btn-lg {
      @apply h-[54px];
    }

    .btn-md {
      @apply h-[48px];
    }

    .input {
      @apply bg-secondary text-gray-600 h-[60px] outline-none pl-6 w-full font-body text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-accent;
    }

    .textarea {
      @apply bg-secondary resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-accent;
    }

    .active {
      @apply text-accent;
    }

    .logo {
      height: 100px;
    }
  }


  .project-card {
    position: relative;
    overflow: hidden;
  }
  
  .project-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .project-image {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.0); /* Slight zoom-in effect on hover */
  }
  
  /* Overlay with dark gold background */
  .project-overlay {

    background: linear-gradient(to top,rgba(184, 134, 11, 0.5) 20%, transparent 50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
align-items: center;
    
  }
  
  .project-card:hover .project-overlay {
    opacity: 1;
  }
  
  .fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
    transform: scale(0.5); /* Slight zoom-in effect on hover */
  }
  
  .project-card:hover .fade-in-bottom {
    opacity: 1;
    transform: translateY(0);
  }
  